/*=========================================================================================*/
/*GENERAL-STUFF*/
/*=========================================================================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #222;
  font-size: 16px;
  font-family: Montserrat;
}

/*=========================================================================================*/
/*NAVBAR-LINK-STYLING*/
/*=========================================================================================*/

a {
  text-decoration: none;
  padding: 0.4em 0.6em;
  border-radius: 5px;
  color: hsl(0, 0%, 85%);
  transition: 0.4s ease;
}

a:hover {
  background-color: hsl(0, 0%, 25%);
  color: white;
  transition: 0.4s ease;
}

/*=========================================================================================*/
/*???*/
/*=========================================================================================*/

svg {
  width: 20px;
  height: 20px;
  stroke: #F6F6F6;
}

.hidden {
  display: none;
}

.cover {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: .2s ease;
}

/*=========================================================================================*/
/*NAVBAR-STYLING*/
/*=========================================================================================*/

.header-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: hsl(0, 0%, 15%);
}

.header-wrap .mainInner {
  max-width: calc(1050px + 40px);
  height: 58px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title p {
  font-size: 20px;
  color: #D9D9D9;
  letter-spacing: 1px;
  transition: 0.4s ease;
}

.navbar-title p:hover {
  color: white;
  cursor: pointer;
  transition: 0.4s ease;
}

.cont-logo {
  display: flex;
  align-items: center;
}

.navbar-logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 1em;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
}

.navbar-menu ul li:not(:last-child) {
  margin-right: 30px;
}

.navbar-menu .link {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #E0E0E2;
}

.navbar-close, .navbar-icon, .navbar-icon > * {
  display: none;
  align-items: center;
}

/*=========================================================================================*/
/*RESPONSIVE NAVBAR*/
/*=========================================================================================*/

@media screen and (max-width: 800px) {
  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 75%;
    height: 100vh;
    background-color: #070F16;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
  }

  .navbar-menu ul {
    flex-direction: column;
  }

  .navbar-menu ul li:not(:last-child) {
    margin: 0;
  }

  .navbar-menu .link {
    padding: 14px 22px
  }
  
  .navbar-close, .navbar-icon, .navbar-icon > * {
    display: flex;
  }

  .navbar-close {
    padding: 14px 22px;
    justify-content: flex-end;
  }

  .navbar-close label {
    display: flex;
    align-items: center;
  }

  .navbar-close label::before {
    content: 'Close';
    font-size: 14px;
    color: #E0E0E2;
    opacity: .9;
  }

  .off-navmenu:checked ~ .navbar-menu {
    right: 0;
    visibility: visible;
    opacity: 0.6;
    background-color: hsl(0, 0%, 10%);
  }

  .off-navmenu:checked ~ .navC {
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
    visibility: visible;
  }
}

/*=========================================================================================*/
/*TYPING TEXT*/
/*=========================================================================================*/

.typing-text {
  font-size: 30px;
  font-weight: 500;
  padding-top: 200px;
}

.typing-text::after {
  content: "|";
  animation: blink ease 1s infinite;
}

@media screen and (max-width: 800px) {
  .child p {
    font-size: 20px;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  } 50% {
    opacity: 1;
  }
}

/*=========================================================================================*/
/*SHOWCASE-LANDING-PAGE-CONTENT*/
/*=========================================================================================*/

.center-text {
  text-align: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container2 {
  font-family: arial;
  font-size: 24px;
  width: 100%;
  height: auto;
  position: relative;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*=========================================================================================*/
/*HORIZONTAL SECTION DIVIDER*/
/*=========================================================================================*/

hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px; 
}

/*=========================================================================================*/
/*TEXT-CONTENT*/
/*=========================================================================================*/

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 950px;
  padding-bottom: 30px;
}

.content .heading {
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
}

/*=========================================================================================*/
/*WEBSITE-LOOK-ALIKE-CONTAINER*/
/*=========================================================================================*/

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.container-website {
  margin-top: 30px;
  border: 3px solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px; 
}

@media screen and (max-width: 800px) {
  .container-website {
    width: 95%;
  }
}

.top {
  padding: 10px;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.content-website {
  padding: 10px;
}

.content-website h3 {
  margin-bottom: 5px;
}

/*=========================================================================================*/
/*FOOTER*/
/*=========================================================================================*/

