/*=========================================================================================*/
/*GENERAL-STUFF*/
/*=========================================================================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #222;
  font-size: 16px;
  font-family: Montserrat;
}

html {
  scroll-behavior: smooth;
}

/*=========================================================================================*/
/*NAVBAR-LINK-STYLING*/
/*=========================================================================================*/

a {
  text-decoration: none;
  padding: 0.4em 0.6em;
  border-radius: 5px;
  color: hsl(0, 0%, 85%);
  transition: 0.4s ease;
}

a:hover {
  background-color: hsl(0, 0%, 25%);
  color: white;
  transition: 0.4s ease;
}

.header-info {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .header-info {
    font-size: 15px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

/*=========================================================================================*/
/*???*/
/*=========================================================================================*/

svg {
  width: 20px;
  height: 20px;
  stroke: #F6F6F6;
}

.hidden {
  display: none;
}

.cover {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: .2s ease;
}

#showcase{
  background-image: url('https://th.bing.com/th/id/R.1f47b50532b3169d6d50637460ff6b0a?rik=FtUqUbozjUQZXQ&pid=ImgRaw&r=0');
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 9%;
}

.button-show{
  font-size: 18px;
  text-decoration: none;
  color: black;
  border: var(--c-white) 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

.button-show:hover{
  transition: 0.2s ease-in;
  letter-spacing: 1.3px;
  background-color: transparent !important;
  color: black !important;
}

@media screen and (max-width: 800px) {
  .button-show {
    font-size: 15px;
  }
}

/*=========================================================================================*/
/*NAVBAR-STYLING*/
/*=========================================================================================*/

.header-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: hsl(0, 0%, 15%);
}

.header-wrap .mainInner {
  max-width: calc(1050px + 40px);
  height: 58px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title p {
  font-size: 20px;
  color: #D9D9D9;
  letter-spacing: 1px;
  transition: 0.4s ease;
}

.navbar-title p:hover {
  color: white;
  cursor: pointer;
  transition: 0.4s ease;
}

.cont-logo {
  display: flex;
  align-items: center;
}

.navbar-logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 1em;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
}

.navbar-menu ul li:not(:last-child) {
  margin-right: 30px;
}

.navbar-menu .link {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #E0E0E2;
}

.navbar-close, .navbar-icon, .navbar-icon > * {
  display: none;
  align-items: center;
}

/*=========================================================================================*/
/*RESPONSIVE NAVBAR*/
/*=========================================================================================*/

@media screen and (max-width: 800px) {
  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 75%;
    height: 100vh;
    background-color: #070F16;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
  }

  .navbar-menu ul {
    flex-direction: column;
  }

  .navbar-menu ul li:not(:last-child) {
    margin: 0;
  }

  .navbar-menu .link {
    padding: 14px 22px
  }

  .navbar-close, .navbar-icon, .navbar-icon > * {
    display: flex;
  }

  .navbar-close {
    padding: 14px 22px;
    justify-content: flex-end;
  }

  .navbar-close label {
    display: flex;
    align-items: center;
  }

  .navbar-close label::before {
    content: 'Close';
    font-size: 14px;
    color: #E0E0E2;
    opacity: .9;
  }

  .off-navmenu:checked ~ .navbar-menu {
    right: 0;
    visibility: visible;
    opacity: 0.6;
    background-color: hsl(0, 0%, 10%);
  }

  .off-navmenu:checked ~ .navC {
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
    visibility: visible;
  }
}

/*=========================================================================================*/
/*TYPING TEXT*/
/*=========================================================================================*/

.typing-text {
  font-size: 50px;
  font-weight: 700;
  padding-top: 108px;
  text-align: center;
}

.typing-text::after {
  content: "|";
  animation: blink ease 1s infinite;
}

@media screen and (max-width: 800px) {
  .child p {
    font-size: 25px;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  } 50% {
    opacity: 1;
  }
}

/*=========================================================================================*/
/*SHOWCASE-LANDING-PAGE-CONTENT*/
/*=========================================================================================*/

.center-text {
  text-align: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container2 {
  font-family: arial;
  font-size: 24px;
  width: 100%;
  height: auto;
  position: relative;
}

.child {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.child2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

@media screen and (max-width: 800px) {
  .child {

  }
}

/*=========================================================================================*/
/*HORIZONTAL SECTION DIVIDER*/
/*=========================================================================================*/

hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  hr {
    width: 865px;
  }
}

.code-block {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  margin-left: 3px;
  border: 1px dashed #bbb;
  border-radius: 3px;
  background-color: #f1f1f1;
  padding: 2px;
  margin-right: 3px;
}

.code-block p {
  padding: 1px;
  text-align: center;
}

/*=========================================================================================*/
/*TEXT-CONTENT*/
/*=========================================================================================*/

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 0;
}

.content .heading {
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
}

/*=========================================================================================*/
/*WEBSITE-LOOK-ALIKE-CONTAINER*/
/*=========================================================================================*/

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.container-website {
  margin-top: 30px;
  border: 3px solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .container-website {
    width: 95%;
  }
}

.top {
  padding: 10px;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.content-website {
  padding: 10px;
}

.content-website h3 {
  margin-bottom: 5px;
}

/*=========================================================================================*/
/*CARDS*/
/*=========================================================================================*/

@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");
 :root {
	 --c-white: hsl(0, 0%, 15%);
	 --c-black: #000;
	 --c-ash: #eaeef6;
	 --c-charcoal: #a0a0a0;
	 --c-void: #fff;
	 --c-fair-pink: #ffedec;
	 --c-apricot: #fbc8be;
	 --c-coffee: #754d42;
	 --c-del-rio: #917072;
	 --c-java: #1fcac5;
	 --c-titan-white: hsl(0, 0%, 15%);
	 --c-cold-purple: #a69fd6;
	 --c-indigo: #fff;
	 --c-governor: #4133b7;
}

 .cards {
   display: flex;
   align-items: flex-start;
   justify-content: center;
	 gap: 2.5rem;
	 width: 90%;
	 max-width: 900px;
	 margin: 4vh auto;
}
 .card {
	 border-radius: 16px;
	 /* max-width: 300px; */
}
 .information {
	 background-color: var(--c-white);
	 padding: 1.5rem;
}
 .information .tag {
	 display: inline-block;
   border: 1px solid #fff;
	 background-color: var(--c-titan-white);
	 color: var(--c-indigo);
	 font-weight: 600;
	 font-size: 0.875rem;
	 padding: 0.5em 0.75em;
	 line-height: 1;
	 border-radius: 6px;
}
 .information .tag + * {
	 margin-top: 1rem;
}
 .information .title {
	 font-size: 1.5rem;
	 color: var(--c-void);
	 line-height: 1.25;
}
 .information .title + * {
	 margin-top: 1rem;
}
 .information .info {
	 color: var(--c-charcoal);
}
 .information .info + * {
	 margin-top: 1.25rem;
}
 .information .button {
   transition: 0.3s ease;
	 font: inherit;
	 line-height: 1;
	 background-color: var(--c-white);
	 border: 2px solid var(--c-indigo);
	 color: var(--c-indigo);
	 padding: 0.5em 1em;
	 border-radius: 6px;
	 font-weight: 500;
	 display: inline-flex;
	 align-items: center;
	 justify-content: space-between;
	 gap: 0.5rem;
}
 .information .button:hover, .information .button:focus {
   transition: 0.3s ease;
   cursor: pointer;
	 background-color: var(--c-indigo);
	 color: var(--c-white);
}
 .information .details {
	 display: flex;
	 gap: 1rem;
}
 .information .details div {
	 padding: 0.75em 1em;
	 background-color: var(--c-titan-white);
	 border-radius: 8px;
	 display: flex;
	 flex-direction: column-reverse;
	 gap: 0.125em;
	 flex-basis: 50%;
}
 .information .details dt {
	 font-size: 0.875rem;
	 color: var(--c-cold-purple);
}
 .information .details dd {
	 color: var(--c-indigo);
	 font-weight: 600;
	 font-size: 1.25rem;
}

@media screen and (max-width: 800px) {
  .container-website {
    width: 95%;
  }
}

/*=========================================================================================*/
/*FOOTER*/
/*=========================================================================================*/

.flex-parent-element {
  padding-bottom: 50px;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 30vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: hsl(0, 0%, 15%);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  padding-left: 9px;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 15px;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
  text-decoration: none;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed p.footer-links a:hover {
  color: white;
}

.footer-distributed .footer-links a:before {
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }

  .footer-distributed .footer-left p {
    padding: 0;
  }
}

.footer-socials {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #f1f1f1;
}

.footer-socials .icons {
  display: inline-block;
}

/* .footer-socials .icons i {
  position: flex;
} */

/*=========================================================================================*/
/*ABOUT-US-CARDS*/
/*=========================================================================================*/

.about-us-card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 16px;
  margin: 10px;
  width: 250px;
  background-color: var(--c-titan-white);
  color: var(--c-charcoal);
  text-align: center;
  font-size: 16px;
}

@media (max-width: 600px) {
  .about-us-card {
    width: 90%;
    height: auto;
  }
}

.about-us-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about-us-card .profile-image {
  padding: 15% 10% 0;
}

.about-us-card .profile-image img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  border-radius: 50%;
  max-width: 40%;
}

.about-us-card figcaption {
  padding: 5% 10% 15%;
}

.about-us-card h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
  color: var(--c-void);
}

.about-us-container {
  text-align: center;
  padding-bottom: 55px;
}

.about-us-heading {
  padding-top: 80px
}

/*=========================================================================================*/
/*EXPLANATION-STYLING*/
/*=========================================================================================*/

.exp-img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.display-inline {
  display: inline-block;
}

.exp-p {
  margin-top: 15px;
  display:block;
  margin-left: auto;
  text-align: left;
}

.exp-p-code {
  margin-top: 15px;
  display:block;
  margin-left: auto;
  text-align: left;
  background: #f1f1f1;
  padding: 5px;
  line-height: 1.3;
  border-radius: 5px;
  font-size: 14px;
}

.exp-p-li {
  margin-top: 5px;
  display:block;
  margin-left: auto;
  text-align: left;
}

.exp-subheading {
  color: black;
  font-size: 20px;
  font-weight: bold;
  display:block;
  margin-left: auto;
  text-align: left;
  margin-top: 20px;
}

.exp-subheading-sub {
  color: black;
  font-size: 17px;
  font-weight: bold;
  display:block;
  margin-left: auto;
  text-align: left;
  margin-top: 20px;
}

.exp-subheading-sub-code {
  color: black;
  font-size: 15px;
  font-weight: bold;
  display:block;
  margin-left: auto;
  text-align: left;
  margin-top: 20px;
}

.exp-content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 100px;
}

.exp-content .heading {
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  .exp-content {
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .exp-p-code {
    width: 375px;
    float: left;
  }
}

/*  generalization of the alphabetical order of the dictionaries to sequences of ordered symbols or, more generally, of elements of a totally ordered set. */
/* why tf are you reading this? */

/*=========================================================================================*/
/*HOVER-TEXT*/
/*=========================================================================================*/

.hovertext {
  border-bottom: 1.5px dotted blue;
}

.info-cont {
  margin-bottom: 15px;
  padding: 4px 12px;
}

.info {
  background-color: var(--c-white);
  border-left: 6px solid var(--c-white);
}

/*=========================================================================================*/
/*SCROLL-TO-TOP-BUTTON*/
/*=========================================================================================*/

.scrollToTopBtn {
  background-color: #3D72A4;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;

  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1044;
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease
}

.showBtn {
  opacity: 1;
  transform: translateY(0)
}

.hmm {
  text-decoration: none;
}

/*=========================================================================================*/
/*FOOTER*/
/*=========================================================================================*/

/* Footer at the bottom */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  width: 100%;
  background-color: var(--c-white);
  text-align: center;
}

.footer i {
  color: grey;
}

.fa-github, .fa-instagram, .fa-stack-overflow {
  padding-top: 40px;
  color: grey !important;
  transition: 0.4s;
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 35px;
  margin-right: 20px;
  text-align: center;
}

.fa-github:hover, .fa-instagram:hover, .fa-stack-overflow:hover {
  color: #3D72A4 !important;
  transition: 0.4s;
  cursor: pointer;
}
